.card {
    /*width:25%;*/
    margin: 15px;
    padding: 15px;
    box-shadow: 1px 2px 5px 2px #888888;
    height: 120px;
}

.column {
    float: left;
    width: 50%;
}

.price {
    color: blue;
}

.product-sku {
    margin-top: 2px;
}

.product-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0px
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.text-muted {
    color: grey;
    margin: 0;
}

.card .product-thumbnail {
    border: solid 1px #dad4d4;
    border-radius: 4px;
}

.size-128 {
    width: 128px;
    height: 128px;
}

.float-left {
    float: left;
}

.float-right {
    float: right
}

.text-bold {
    font-weight: bold;
}

.solid-border-1 {
    border: solid 1px #dad4d4;
}

.border-radius-4 {
    border-radius: 4px;
}